html
head
  script(src="./index.js")
  link(rel="stylesheet", href="./index.css")
  title Dash
body
  h1 Dash
  section.QuickLinks__Container
    div.QuickLinks__Link(href="https://gitlab.com/")
      span.QuickLinks__Text GitLab
      img.QuickLinks__Icon(src="./gitlab-icon-rgb.svg")
    div.QuickLinks__Link
      span.QuickLinks__Text TiddlyWiki
      div.QuickLinks__Icon
        img(src="./tiddlywiki.png")