html, body {
  margin: 0;
  padding: 0;

  background: #ccc;
  color:#333;
  font-family: Roboto, sans-serif;
}

.QuickLinks {
  &__Container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 8em;
  }
  &__Link {
    display: flex;
    flex-direction: column;
    flex-basis: 7em;
    flex-shrink: 1;
    
    box-sizing: border-box;
    background: #eee;
    padding: 1em;
    border-radius: 0.3em;
    box-shadow: .1em .1em 0.2em #33333388;
    transition: all 0.2s ease-in-out;
  }
  &__Link:hover {
    box-shadow: 0 0 0.3em #333333cc;//, inset .15em .15em .3em #ffffffcc;
    background: #ddd;
  }
  &__Text {
    flex:0 1;
    text-align: center;
  }
  &__Icon {
    box-sizing: border-box;
    overflow: hidden;
    flex-grow: 1;
    position: relative;
    & > img {
      position: absolute;
      left:50%;
      top:50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
    }
  }
}